

#main {
    display: flex;
    font-size: 12px;
    padding-bottom: 164px;
    padding-top: 20px;
    font-family: inherit;
    background: #f0f2f5;
    min-width: 500px;
    line-height: 1.34;
}
#content1 {
    padding: 0px 0 0px 0px;
    width: 580px;
    display: inline-block;
    margin: 25px 80px 0 200px;
    
}
#content2 {
    text-align: center;
    display: block;
    float: right;
    margin: 66px 0 15px -72px;
}
#facebook {
    display: block;
    font-size: 65px;
    width: auto;
    margin: 50px 0 -18px 0px;
    font-weight: bold;
    color: #1877f2;
    height: 80px;
    padding: 89px 0px 0px 0px;
}
h2#para {
    font-size: 28px;
    line-height: 32apx;
    width: 500px;
    font-weight: normal;
    color: #1c1e21;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

#box {
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    margin: 40px 0px 18px 0px;
    padding: 8px 5px 22px 6px;
    width: 394px;
}
.test {
    display: inline-block;
    margin: auto;
    padding: 6px 0;
    font-size: 17px;
    width: 364px;
}
#email {
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
    color: #1d2129;
    
}
#pass {
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
    color: #1d2129;
    margin: 10px 0;
}
#login {
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0px 16px;
    width: 330px;
    box-sizing: content-box;
    color: #fff;
    font-weight: bold;
    margin: 0 0 22px 0;
    font-family: inherit;
}
#new {
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    font-family: inherit;
    background-color: #42b72a;
    box-sizing: content-box;
    color: #fff;
    font-weight: bold;
    display: inline-block;
}

#forgotten {
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    font-family: inherit;
}
#line {
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
}
#create {
    border-top: none;
    color: #1c1e21;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding-top: 0;
    margin-top: 28px;
}
#create a {
    color:black;
    text-decoration: none;
    font-family: SFProText-Semibold, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;;
}